url = "/message"
title = "Message"
layout = "default"

[postmessage]
==

{% set records = builderList.records %}
{% set displayColumn = builderList.displayColumn %}
{% set noRecordsMessage = builderList.noRecordsMessage %}
{% set detailsPage = builderList.detailsPage %}
{% set detailsKeyColumn = builderList.detailsKeyColumn %}
{% set detailsUrlParameter = builderList.detailsUrlParameter %}

<form action="/message" method="post">
    
        
            <label for="Title">Title</label>
            <input type="text">


            <label for="description"></label>
            <textarea name="description" id="descriptionFill"></textarea>
        
        <input type='text' ... list='listid'>
         <datalist id='listid'>
            {% for record in records %}
           <option>{{ record.brand_name }}</option>
            {% endfor %}
        </datalist>

        <input type='text' ... list='products'>
         <datalist id='products'>
            {% for record in records %}
           <option>{{ record.product_name }}</option>
            {% endfor %}
        </datalist>
        
        <button type="submit">sumbit</button>
</form>